* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #dcacac;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header {
  margin-top: 0px;
  width: 1000px;
  height: 300px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}


main {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 0 30px 30px 30px;
  padding: 2rem;
}


h1 {
  color: #ac2020;
  font-weight: 600;
}

.intro-text {
  background-color: #ebebeb;
  padding: 1rem;
}

.ingredienser {
    margin-top: 1rem;
}
.portioner {
  margin: 0;
}


.ingredienser-ul li {
    margin-bottom: 1rem;
}
.instruktioner {
    margin-bottom: .5rem;
}

.instruktioner-ol li {
    margin-bottom: 1rem;
}
.servering-section {
  display: flex;
  flex-direction: column;
}

.galleri {
  width: 100%;
  height: 300px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.galleri img {
  width: 50%;
}
