* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  background-color: #dcacac;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-content {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0 30px 30px 30px;
}

.banner {
  margin-top: 0px;
  width: 100%;
  height: 300px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
  height: auto;
}

.text-content {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 2rem;
}

h1 {
  color: #ac2020;
  font-weight: 600;
}

.intro-text {
  background-color: #ebebeb;
  padding: 0 0 0 1rem;
}

.ingredienser {
    margin-top: 2rem;
}

.ingredienser-ul li {
    margin-bottom: 1rem;
}
.instruktioner {
    margin-top: 2rem;
}

.instruktioner-ol li {
    margin-bottom: 1rem;
}
.servering {
  display: flex;
  flex-direction: column;
}

.galleri {
  width: 100%;
  height: 300px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.galleri img {
  width: 50%;
}
